body{
    background: url(../images/pexels-frans-van-heerden-655794.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    
}


.list-group{
    margin-top: 20px;
}

.sideBar{
    color: blanchedalmond;
}

.weatherInformation{ 
    border: solid 1px grey;
    padding: 15px;
    color: white;
    margin-bottom: 20px;
}

h2{
    margin-top: 5px;
}

.appBody{
    padding-top: 15px;
    min-height: 86vh;
}

.fiveDayForecastCards  .card{
   height: 300px;
    background: rgb(207, 220, 236);

}

.btn .btn-outline-secondary .p-5{
    background-color: black;
    opacity: 0.5;
}

.bgcolumns {
    background: rgba(0, 0, 0, 0.418);
    border-radius: 6px;
    padding: 20px;
}

span{
    padding: 7px;
    border-radius: 5px;
}


input#searchInput {
    border-style: none;
    padding-left: 2px;
    padding-top: 2px;
}
input#searchInput:focus {
    border-style: none;
}
input.typeahead.tt-hint {
    padding: 7px;
}
.tt-menu {
    background-color: white;
    width: 198px;
    color: black;
    padding: 10px;
    border-style: ridge;
}

p{
margin-left: 10px;
margin-top: 10px;
}

h3{
    color: whitesmoke;
}

#warning{
    background-color: rgb(177, 41, 41);
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin: right 70px;
}

#clearBtn{
    margin-top: 20px;
}

