body{
    background-color: white;
}

.navbar-text{
}



.list-group{
    margin-top: 20px;
}

.sideBar{
    background-color: rgb(228, 228, 228);
    padding-top: 15px;
}

.weatherInformation{
    border: solid 1px grey;
    padding: 15px;
}

h2{
    margin-top: 5px;
}

.appBody{
    padding-top: 15px;
    min-height: 86vh;
}

